body{
  background-color: lightblue;
}

.land {
  -webkit-animation: paintbackground 10s;
  stroke: pink;
}

.state {
  fill: none;
  stroke: red;
}


@-webkit-keyframes paintbackground {
  0%{
    fill: red;
  }
  50%{
    fill: blue;
  }
  100%{
    fill: red;
  }
}
